.b-cat-items li{
	float: none;
	display: block;

	width: 20%;
	padding: 0 20px;
	margin: 0 0 60px;

	text-align: center;

	border-right: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-item a:first-child{
	display: block;
}

.b-cat-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-left: -20px;
	margin-right: -20px;
}

div.layout{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 0 80px;
	width: 100%;
}

.b-item-image{
	width: 100%;
}

ul.another-cats li{
	float: none;
	display: block;

	padding: 0;
	margin: 0 0 20px;
	width: 33%;
}

ul.another-cats{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

ul.productsMenu a{
	margin-bottom: 10px;

	display: inline-block;
}

.b-item-caption{
	height: 40px;
}

.b-cat-items li:last-child, .b-cat-items li.last{
	padding-right: 20px;
}

ul.productsMenu .left{
	border-bottom: none;
}

.info_title_cart,
.mainMenu a,
.b-item-caption,
.companyInfo a{
	text-decoration: none;
}

@media screen and (min-width: 1440px) {
	.b-cat-items li{
		padding: 0 30px;
	}
	.b-cat-items li:last-child, .b-cat-items li.last{
		padding-right: 30px;
	}
	.b-cat-items{
		margin-left: -30px;
		margin-right: -30px;
	}
	div.head,
	body,
	.b-cat-items{
		font-size: 16px;
	}
}

@media screen and (max-width: 1023px) {
	.b-cat-items{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;

		margin-left: 0;
	}
	.b-cat-items li{
		width: 100%;
		padding: 0;
		margin: 0 0 30px;

		border-right: none;
	}
	div.layout{
		padding: 0;
	}
	.b-item-image{
		border-radius: 0;
	}
	.b-cat-title{
		font-size: 48px;

		padding: 0 40px;

		display: block;
	}
	.count-items{
		display: none;
	}
	.b-item-caption{
		height: auto;
		padding: 0 40px;

		font-size: 38px;
		line-height: 44px;

		text-decoration: none;
	}
	.b-item-price{
		font-size: 38px;
	}
	.b-cat,
	.b-cat:first-child{
		margin-top: 0;
	}
	.b-cat-title{
		padding-top: 25px;

		border-top: 1px solid  #000;
	}
	ul.another-cats .b-cat-title{
		border-top: none;

		padding: 0;

		font-size: 34px;

		display: inline;
	}
	ul.another-cats li{
		width: 100%;
	}
	.another-cats-line{
		font-size: 40px;

		margin-top: 80px;
	}
	div.companyInfo{
		float: none;

		width: 100%;
		padding: 0 40px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		font-size: 28px;
		line-height: 46px !important;
	}
	div.head{
		position: fixed;
		z-index: 1;

		top: 0;
		left: 0;
		right: 0;
		height: 110px;

		padding: 0 0 0 40px;

		background-color: rgba(55, 57, 61, .9);

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		-ms-align-items: center;
		align-items: center;
	}
	html{
		padding-top: 110px;
	}
	.product-menu{
		position: fixed;

		left: 0;
		top: 0;
		bottom: 0;
		width: 90%;
		padding: 40px;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		-webkit-transition: all ease .8s;
		-o-transition: all ease .8s;
		transition: all ease .8s;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		background-color: #fff;
	}
	ul.productsMenu li{
		display: block;

		padding: 15px 0;
	}
	ul.productsMenu a{
		color: #000;
		font-size: 36px;
	}
	ul.productsMenu .left{
		border-bottom: none;
	}
	ul.productsMenu{
		text-align: left;
	}
	.main-menu,
	.company-info__item.cart,
	.company-info__item.contacts{
		display: none;
	}
	.company-info__item.logo a{
		display: inline-block;
	}
	.company-info__item.logo{
		margin: 0;
	}
	.company-info{
		margin: 0;
	}
	.product-menu{
		margin-top: 0;
	}
}

@media screen and (max-width: 767px) {
	.b-cat-title{
		font-size: 24px;
		text-align: center;
	}
	.b-item-caption,
	.b-item-price{
		font-size: 18px;
		line-height: 28px;
	}
	.another-cats-line{
		font-size: 22px;
	}
	ul.another-cats .b-cat-title{
		font-size: 18px;
		line-height: 30px;
	}
	ul.another-cats{
		padding: 0 20px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	ul.another-cats li{
		margin: 0 0 15px;
	}
	.about-company{
		font-size: 24px;
		text-align: center;
	}
	div.companyInfo{
		padding: 0 20px;

		font-size: 18px;
		line-height: 30px !important;
	}
	div.head{
		height: 70px;
		padding-left: 20px;
	}
	.product-menu{
		padding: 60px 20px 20px;

		overflow: auto;
	}
	ul.productsMenu a{
		font-size: 20px;
	}
	ul.productsMenu li{
		padding: 8px 0;
	}
	html{
		padding-top: 70px;
	}
}






/*ALEX STYLE*/
/*Footer*/
.footer {
    background-color: #323232;
    color: #fff;
    margin-top: -110px;
    height: auto;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 18px;
}
    .footer .layout {
        max-width: inherit;
    }
    .footer__links {
        padding: 40px 0;
    }
    .footer__links, .footer__center {
        text-align: center;
    }
    .footer__center {
        text-align: center;
        padding-bottom: 40px;
        border-bottom: solid white 2px;
        margin-bottom: 40px;
    }
        .footer__center p {
            margin: 0;
        }
        .footer__center p:first-child {
            padding-bottom: 16px;
        }
    .footer__list {
        list-style: none;
        margin: 0;
    }
    .footer__list_item {
        display: inline-block;
        transition: all ease .3s;
        padding: 0 6px;
        font-size: 100%;
    }
        .footer__list_item:hover {
            color: #f04747; 
        }
    .footer a {
        color: #fff;
        text-decoration: none;
        transition: all ease .3s;
    }
        .footer a:hover {
            color: #f04747; 
        }
    .line {
        display: none;
    }
    .footer .block {
        margin: 0;
        width: auto;
    }
    .copy {
        padding-bottom: 66px;
    }
	    .copy p:first-child {
	    	padding-bottom: 16px;
	    }
    .addthis_sharing_toolbox {
        width: 100%;
        padding-top: 10px;
    }
        .at-icon-wrapper svg {
            width: 20px;
            height: 20px;
        }

@media screen and (max-width: 1023px) {
    .icon-c {
        width: 50px !important;
        height: 50px !important;
    }
    .at-icon-wrapper {
        padding: 16px 10px 10px;
    }

    .footer {
        font-size: 30px;
    }
    .footer__center {
        padding-bottom: 50px;
    }
        .footer__center p:first-child {
            width: 80%;
            margin: 0 auto;
        }
        .footer__center p:last-child {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    .footer__list {
        padding: 0;
    }
    .footer__links li {
        display: block;
        padding: 10px 8%;
    }
    .footer .block {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }
    .soc{
        float: none !important;
        padding: 1px;
    }
    .copy {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        line-height: 24px;
        font-size: 18px;
        padding: 25px 16px;
    }
    .footer__center {
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .icon-c {
        width: 30px !important;
        height: 30px !important;
    }
    .footer .block {
        padding-bottom: 24px;
    }
    .footer__links {
        padding-bottom: 25px;
        padding-top: 0;
    }
    .at-icon-wrapper {
        padding: 0px 5px 0px;
    }
}



/*Card*/
.about-product {
	padding-top: 50px;
	padding: 30px 5% 50px;
}
.about-product .gallery {
    float: left;
    width: 40%;
}
.about-product div.image {
	max-width: 500%;
	width: auto;
	margin: 0 auto;
	cursor: pointer;
}
.about-product div.description {
	margin: 0;
	margin-left: 5%;
	float: left;
}

.breadcrumbs {
	margin-bottom: 10px;
	margin-top: 0;
}

.thumbnails {
	text-align: center;
}

.product-name {
    font-size: 48px;
    line-height: 64px;
    font-weight: bold;
}

/*Left bar*/
.filters .filter-item .title, .propertyName {
	max-width: 200px;
	min-width: 200px;
	display: inline-block;
	padding-right: 40px;
	line-height: 18px;
}
.filter-item {
	margin-bottom: 25px;
}
.propertyName {
	max-width: 200px;
	min-width: 200px;
}


a.add-to-cart {
	width: auto;
	height: auto;
	color: #ffffff;
	padding: 22px 34px;
	background-color: #ff6a16;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 56px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
	.add-to-cart:hover {
	    color: #ffffff;
	    opacity: .9;
	}

.properties li {
	margin-bottom: 15px;
}
.properties li:last-child {
	margin: 0;
}

span.price {
	font-size: 48px;
    line-height: 48px;
    width: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 15px;
}

/*table*/
.properties2 {
	list-style-type: none;
	padding-left: 0;
}
	.properties2 li {
		overflow: hidden;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

.add_chars {
	float: right;
	margin-left: 45%;
}
.add_chars__title {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 24px;
	margin: 0;
}

/*section 2*/
div.descriptionShow {
	margin: 0;
}
.descriptionShow {
	overflow: hidden;
}
	.descriptionShow iframe {
		float: right;
		margin: 30px 0;
		width: 40%;
	}
	.descriptionShow ul {
		float: none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 0;
	}
	.descriptionShow li {
		list-style-position: outside;
		margin-left: 37px;
		padding-left: 0;
		line-height: 24px;   
	}
	.descriptionShow .title {
		font-size: 38px !important;
	    font-weight: bold;
	}

div.main {
	border-bottom: solid 1px #c5c4c4;
	padding-bottom: 40px;
}
.wrap_list {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
/**/
.footer {
	margin-top: 0;
}
/**/
.m-mobile {
	display: none;
}
/**/
.description {
	font-size: 20px;
}


@media screen and (max-width: 1540px) {
	.description {
		font-size: 18px;
	}
}

@media screen and (max-width: 1180px)  {
	.about-product div.description {
		margin-left: 5%;
		width: 55%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.descriptionShow iframe {
		padding: 0 3%;
	}
}


@media screen and (max-width: 1023px) {
	.m-desc {
		display: none;
	}
	.m-mobile {
		display: block;
	}
	.about-product div.description {
		margin-left: 0;
		width: 100%;
	}

	.product-line {
		position: relative;
	}
		.product-line:before, .product-line:after {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			position: absolute;
			right: 100%;
			top: 0;
			background-color: #C8C8C8;
		}
		.product-line:after {
			right: initial;
			left: 100%;
		}

	.breadcrumbs {
		margin-top: 20px;
		margin-bottom: 40px;
		padding-left: 8%;
		padding-right: 8%;
		font-size: 18px;
	}
		.breadcrumbs a {
			font-size: 100%;
		}

	.properties {
		text-align: left;
	}
		.properties li {
			margin-bottom: 25px;
		}

	.price {
		text-align: center;
	}

	.main {
		padding-left: 8%;
		padding-right: 8%;
	}

	div.propertyName {
		float: none;
		width: 100%;
		max-width: initial;
	}
	.propertyName, .filters .filter-item .title {
		font-weight: bold;
		font-size: 26px;
		margin-bottom: 15px;
	}

	.propertyValue {
		font-size: 26px;
	}

	.about-product .gallery {
		width: 100%;
	}

	.product-name {
		font-size: 46px;
		line-height: 64px;
	}

	.about-product div.description {
		float: none;
		text-align: center;
		margin: 0 auto;
		padding: 0 8%;
	}

	.thumbnails {
		margin-bottom: 40px;
	}

	.filters .filter-item {
		display: block;
		height: auto;
		text-align: left;
	}
	a.add-to-cart {
		margin: 0 auto;
		float: none;
	}

	div.descriptionShow {
		margin-top: 50px;
	}
		.descriptionShow iframe {
			margin: 0;
			padding: 0;
		}
		.descriptionShow iframe, .descriptionShow ul  {
			float: none;
			width: 100%;
		}
		.descriptionShow li {
			font-size: 24px;
			margin-bottom: 15px;
		}
		.descriptionShow .title {
			font-size: 36px;
			border-bottom: 1px dashed #000;
			padding-top: 50px;
			padding-bottom: 50px;
			margin: 0 !important;
			position: relative;
		}
		.descriptionShow ul {
			height: 0;
			opacity: 0;
			-webkit-transition: max-height ease 1s;
			-o-transition: max-height ease 1s;
			transition: max-height ease 1s;
			max-height: 0;
			position: relative;
			z-index: -1;
			overflow: hidden;
			margin: 0;
		}

	.title.opened {
		border-bottom: none;
	}
	.title.opened +  ul {
		max-height: 1000px;
		height: auto;
		opacity: 1;
		z-index: 2;
		position: static;
		overflow: visible;
		border-bottom: 1px dashed #000;
		padding-bottom: 50px;
	}
	.descriptionShow .title:before {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		transition: all .4s ease;
		width: 10px;
		height: 10px;
		content: "";
		display: inline-block;
		border-right: 3px solid black;
		border-bottom: 3px solid black;
		transform: rotate(45deg);
		margin-right: 0.5em;
	}
	.title.opened:before {
		transform: rotate(135deg);
	}
}

@media screen and (max-width: 767px) {
	.about-product div.image div.inner img {
		width: 100% !important;
	}
	.product-name {
		line-height: normal;
	}

	.propertyName {
		margin-bottom: 10px;
	}
	.properties li {
		margin-bottom: 10px;
	}
	span.price {
		padding-top: 20px;
	}
	.a.add-to-cart {
		padding: 20px 32px;
	}
	.product-name {
		font-size: 26px;
	}
	.breadcrumbs {
		font-size: 18px;
		margin: 0;
		margin-bottom: 35px;
		margin-top: 35px;
	}
	.propertyName, .filters .filter-item .title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.propertyValue {
		font-size: 20px;
	}
	.about-product {
		padding-right: 0;
		padding-left: 0;
	}
	.about-product div.description {
		padding: 0;
	}
	.about-product div.description, .price {
		text-align: left;
	}
	.descriptionShow .title {
		font-size: 26px;
		padding-top: 20px;
		padding-bottom: 15px;
		margin: 0 !important;
	}
}

/*Slider*/
.tyings-items {
	overflow: hidden;
}

.owled li,
.owl-carousel .owl-item img{
	width: auto;
}
.owl-carousel{
	display: block;
}

.tying-name {
	display: block;
    min-height: 80px;
    width: 100%;
    font-size: 15px;
}
	.tying-name a {
		text-decoration: none;
	}


.item {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}
	.item a {
		display: block;
	}
	.tying-image {
	    max-height: 216px;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    height: auto;
	}
	.tyings-price {
		display: block;
		width: 100%;
		font-size: 16px;
	}


.tyings-caption {
	font-size: 48px;
    font-weight: bold;
    padding-bottom: 38px;
    text-align: left;
    padding-top: 30px;
}


@media screen and (max-width: 1023px) {
	.tyings-caption {
		padding: 10px 0 40px 0;
	}
	.main {
		padding: 0 8%;
	}
}


@media screen and (max-width: 767px) {
	.tyings-caption {
		font-size: 26px;
		padding: 30px 0 48px 0;
	}
}


/*Basket*/
div.form input[type="text"], div.form input[type="email"], div.form textarea, div.form input[type="date"] {
	min-height: 30px;
	border: 1px #808080 solid;
	font-size: 14px;
	padding-left: 2%;
	padding-top: 0;
	padding-bottom: 0;
}
div.layout.basket {
    width: auto;
    padding: 0 5%;
    margin: 0 auto;
}
div.form input[type="text"], div.form input[type="email"], div.form textarea, div.form input[type="date"], .type-person .type-person-left, .type-person .type-person-right  {
	border-radius: 0;
}
.type-person .type-person-left, .type-person .type-person-right {
	width: 50%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px #808080 solid;
    box-sizing: border-box;
}
.type-person .type-person-left {
	border-right: none;
}

table.good-list-caption {
	border-bottom: 2px #808080 solid;
	margin-bottom: -1px;
}

td.checkout div.form {
	border-left: 2px #808080 solid;
    border-bottom: 2px #808080 solid;
    border-right: 2px #808080 solid;
    border-top: none;
    border-radius: 0;
    /*width: 46%;*/
    box-sizing: border-box;
    margin-left: 0;
    padding: 13px 30px;
    font-size: 18px;
}
div.form input[type="text"], div.form input[type="email"] {
	font-size: 18px;
}
table.good-list {
	box-sizing: border-box;
}

td.checkout div.form {
	float: none;
	position: static;
}
table.good-list, table.good-list-caption {
	width: 100%;
}
.checkout, .total{
	width: 40%;
}
td.checkout div.form {
	width: 100%;
}

.cart-body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
table.good-list td, table.good-list-caption td {
	font-size: 18px;
	/*13*/
}

div.form div.item.submit {
	width: 50%;
	padding: 0;
	margin: 0 auto;
}

button.checkout {
	background-color: #808080;
    border: none;
    color: #fff;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;
    margin: 0 auto;
}

.table_col_decs {
	display: none;
}
.name a {
	text-decoration: none;
	color: #0e468b;
}
.item-desc {
    padding-top: 5px;
}

@media screen and (max-width: 1180px) {
	.flex_table {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	td.checkout div.form {
		border-top: 2px #808080 solid;
	}
	.checkout {
		margin: 0 auto;
		width: 60%;
	}
	td.checkout div.form {
		font-size: 13px;
	}
	div.form input[type="text"], div.form input[type="email"] {
		font-size: 14px;
	}
	table.good-list td, table.good-list-caption td {
		font-size: 13px;
		/*13*/
	}
	div.form input[type="text"], div.form input[type="email"], div.form textarea, div.form input[type="date"] {
		width: 97%;
	}
	.js-individual {
		width: 100%;
	}
	.item-hr {
		width: 99%;
	}
	.table_col_mob {
		display: none;
	}
	.table_col_decs {
		display: block;
		width: 100%;
		text-align: center;
		padding: 20px 0;
	}
}


@media screen and (max-width: 1023px) {
	.main_basket {
		padding: 0;
	}
	td.checkout div.form {
		font-size: 18px;
	}
	div.form input[type="text"], div.form input[type="email"] {
		font-size: 18px;
	}
	table.good-list td, table.good-list-caption td {
		font-size: 18px;
		/*13*/
	}
	td.checkout div.form {
		margin-top: 70px;
	}
	input.textBox {
		height: 40px;
		font-weight: bold;
		font-size: 18px;
	}
	.price, .equal, .cost, .x {
		font-weight: bold;
	}
	td.delete span {
		display: inline;
	}
	input.textBox, textarea {
		width: 80%!important;
	}
	td.checkout div.form {
		border: none;
		padding-right: 0;
		padding-left: 0;
		margin-top: 50px;
	}
	
}


@media screen and (max-width: 767px) {
	.checkout {
		width: 100%;
	}
	table.good-list td.name, td.image {
		padding-top: 30px;
		padding-bottom: 0;
	}
	td.image {
		padding-right: 10px;
	}
	.cart-body td{
		float: left;
	}
	td.image {
		width: 40%;
	}
	table.good-list td.name {
		width: 49%;
	}
	.cost {
		width: 33%;
	}
	.cost, .x, .quantity, .equal, .price{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.price, .cost {
		font-weight: bold;
	}
	.price {
		width: 30%;
	}
	td.x, td.equal {
		width: 8%;
	}
	.quantity {
		width: 10%;
	}
	.delete {
		width: 20px;
	}
	.cart-body td.delete {
		float: none;
	}
	.good-list-caption {
		display: none;
	}
}












